body {
    padding: 80px 0 100px 0;
}

.element-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    border: 1px solid #fff !important;
    border-radius: 20px !important;
}

.take-center {
    justify-content: center !important;
}