body {
    padding: 80px 0 100px 0;
    background-color: #c2eaf5 !important;
}

.element-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-color {
    color: #057fa8;
}

.button {
    color: #0d6481 !important;
    border: 1px solid #0d6481 !important;
    font-weight: bold !important;
}

.button:hover {
    color: #ffffff !important;
    background-color: #0888ac !important;
}

#spinner {
    display: none;
}

.card {
    border: 1px solid #fff !important;
    border-radius: 20px !important;
}

.card-padding {
    padding: 20px 50px !important;
}

.take-center {
    justify-content: center !important;
}